:root{
    /***** Colors ******/
    --tutti-black: #121212;
    --tutti-white: #F8F7FF;

    --tutti-grey-1: #1d1d1d;
    --tutti-grey-2: #232323;
    --tutti-grey-3: #393939;
    --tutti-grey-4: #8a898c;

    --tutti-red-bright: #FF0368;
    --tutti-red-dark: #AA044F;
    --tutti-green-brigth: #00F7A5;
    --tutti-green-dark: #00A86B;

    --info: #5463FF;
    --warning: #FFDB59;
    --success: #1EDB54;
    --error: #FF4040;

    /***** Mida d'icones *****/
    --icon-tiny: 8px;
    --icon-small: 12px;
    --icon-regular: 16px;
    --icon-medium: 24px;
    --icon-big: 32px;
    --icon-large: 64px;
    --icon-massive: 128px;

    /***** Mida de fonts *****/
    --text-tiny: 12px;
    --text-small: 13px;
    --text-base: 14px;
    --text-medium: 16px;
    --text-big: 18px;
    --text-large: 20px;
    --text-larger: 24px;
    --text-huge: 36px;
    --text-display: 64px;

    /***** Marges *****/
    --margin-tiny: 4px;
    --margin-small: 8px;
    --margin-regular: 16px;
    --margin-medium: 32px;
    --margin-big: 48px;
    --margin-large: 64px;
    --margin-huge: 128px;

    font-family: Rota, sans-serif;
    color: var( --tutti-white);
}

@font-face {
    font-family: Rota;
    font-style: auto;
    font-weight: auto;
    src: url("/assets/fonts/rota/Rota-Medium.otf");
}

@font-face {
    font-family: Cunia;
    font-style: auto;
    font-weight: auto;
    src: url("/assets/fonts/cunia/Cunia.otf");
}

body{
    background: var(--tutti-black);
    margin: 0;
}

/****** Tipografía *****/

h1 {
    font-family: Cunia, sans-serif;
    font-size: var( --text-display);
    margin: 0 16px;
}

h2 {
    font-size: var( --text-huge);
    font-weight: 900;
    margin: 0 16px;
}

h3 {
    font-size: var( --text-larger);
    font-weight: 900;
    letter-spacing: 0.1em;
    margin: 0 16px;
}

h4 {
    font-size: var( --text-large);
    font-weight: 600;
    letter-spacing: 0.07em;
    margin: 0 16px;
}

h5 {
    font-size: var( --text-big);
    color: var( --tutti-grey-4);
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0 16px;
}

label {
    font-size: var( --text-tiny);
    font-weight: 600;
    letter-spacing: 0.1em;
    margin-bottom: 6px;
}

p {
    font-size: var( --text-base);
    font-weight: 500;
    letter-spacing: 0.05em;
}

p.little{
    font-size: var( --text-small);
    font-weight: 500;
    letter-spacing: 0.05em;
}

p.big{
    font-size: var( --text-big);
    font-weight: 700;
    letter-spacing: 0.05em;
}

p.error{
    font-size: var( --text-small);
    font-weight: 500;
    letter-spacing: 0.05em;
    color: var( --error);
}

p.success{
    font-size: var( --text-small);
    font-weight: 500;
    letter-spacing: 0.05em;
    color: var( --success);
}

a{
    font-size: var( --text-base);
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var( --info);
}


/****** Inputs *******/

input[type="text" i]{
    caret-shape: bar;
    caret-color: var( --tutti-black);
    background: var( --tutti-white);
    border: none;
    border-radius: 7px;
    height: 32px;
    font-family: Rota, sans-serif;
    font-size: var( --text-base);
    font-weight: 600;
    letter-spacing: 0.02em;
    color: var( --tutti-black);
}

input[type="text" i]:focus-visible{
    outline: none;
}

::-moz-placeholder{
    color: var( --tutti-grey-4);
    font-weight: 500;
    font-size: var( --text-base);
    letter-spacing: 0.02em;
}

:-ms-input-placeholder{
    color: var( --tutti-grey-4);
    font-weight: 500;
    font-size: var( --text-base);
    letter-spacing: 0.02em;
}

::placeholder{
    color: var( --tutti-grey-4);
    font-weight: 500;
    font-size: var( --text-base);
    letter-spacing: 0.02em;
}

