:root{
    /***** Colors ******/
    --tutti-black: #121212;
    --tutti-white: #F8F7FF;

    --tutti-grey-1: #1d1d1d;
    --tutti-grey-2: #232323;
    --tutti-grey-3: #393939;
    --tutti-grey-4: #8A898C;

    --tutti-red-bright: #FF0368;
    --tutti-red-dark: #AA044F;
    --tutti-green-brigth: #00F7A5;
    --tutti-green-dark: #00A86B;

    --info: #5463FF;
    --warning: #FFDB59;
    --success: #1EDB54;
    --error: #FF4040;

    /***** Mida d'icones *****/
    --icon-tiny: 8px;
    --icon-small: 12px;
    --icon-regular: 16px;
    --icon-medium: 24px;
    --icon-big: 32px;
    --icon-large: 64px;
    --icon-massive: 128px;

    /***** Mida de fonts *****/
    --text-tiny: 12px;
    --text-small: 13px;
    --text-base: 14px;
    --text-medium: 16px;
    --text-big: 18px;
    --text-large: 20px;
    --text-larger: 24px;
    --text-huge: 36px;
    --text-display: 64px;

    /***** Marges *****/
    --margin-tiny: 4px;
    --margin-small: 8px;
    --margin-regular: 16px;
    --margin-half: 24px;
    --margin-medium: 32px;
    --margin-big: 48px;
    --margin-large: 64px;
    --margin-huge: 128px;

    font-family: "Tutti-Rota", sans-serif;
    color: var( --tutti-white);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "Tutti-Rota";
    font-style: normal;
    font-weight: 200;
    src: url("/assets/fonts/rota/Rota-Thin.otf");
}

@font-face {
    font-family: "Tutti-Rota";
    font-style: normal;
    font-weight: 200;
    src: url("/assets/fonts/rota/Rota-ExtraLight.otf");
}

@font-face {
    font-family: "Tutti-Rota";
    font-style: normal;
    font-weight: 300;
    src: url("/assets/fonts/rota/Rota-Light.otf");
}

@font-face {
    font-family: "Tutti-Rota";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/rota/Rota-Regular.otf");
}

@font-face {
    font-family: "Tutti-Rota";
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/rota/Rota-Medium.otf");
}

@font-face {
    font-family: "Tutti-Rota";
    font-style: normal;
    font-weight: 600;
    src: url("/assets/fonts/rota/Rota-SemiBold.otf");
}

@font-face {
    font-family: "Tutti-Rota";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/rota/Rota-Bold.otf");
}

@font-face {
    font-family: "Tutti-Rota";
    font-style: normal;
    font-weight: 800;
    src: url("/assets/fonts/rota/Rota-ExtraBold.otf");
}

@font-face {
    font-family: "Tutti-Rota";
    font-style: normal;
    font-weight: 900;
    src: url("/assets/fonts/rota/Rota-Black.otf");
}

@font-face {
    font-family: "Tutti-Rota";
    font-style: normal;
    font-weight: 1000;
    src: url("/assets/fonts/rota/Rota-ExtraBlack.otf");
}

@font-face {
    font-family: Cunia;
    font-style: auto;
    font-weight: auto;
    src: url("/assets/fonts/cunia/Cunia.otf");
}

*, *:after, *:before {
    box-sizing: border-box;
}

#app{
    position: relative;
    display: grid;
}

#app > .app-body{
    margin: 0 8.9%;
}

body{
    background: var(--tutti-black);
    margin: 0;
    overflow: auto;
}

/****** Tipografía *****/
h1 {
    font-family: Cunia, sans-serif;
    font-size: var( --text-display);
    margin: 0;
}

h2 {
    font-size: var( --text-huge);
    font-weight: 900;
    letter-spacing: 0.02em;
    margin: var(--margin-regular) 0 0;
}

h3 {
    font-size: var( --text-larger);
    font-weight: 900;
    letter-spacing: 0.1em;
    margin-top: var(--margin-small)
}

h4 {
    font-size: var( --text-large);
    font-weight: 600;
    letter-spacing: 0.07em;
    margin: 0;
}

h5 {
    font-size: var( --text-big);
    color: var( --tutti-grey-4);
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
}

label {
    font-size: var( --text-tiny);
    font-weight: 600;
    letter-spacing: 0.2em;
}

.input-label{
    font-size: var( --text-tiny);
    font-weight: 600;
    letter-spacing: 0.2em;
    margin-bottom: 6px;
}

p {
    font-size: var( --text-base);
    font-weight: 400;
    letter-spacing: 0.05em;
    margin: var(--margin-small) 0;
}

p.little{
    font-size: var( --text-small);
    font-weight: 400;
    letter-spacing: 0.05em;
}

p.big{
    font-size: var( --text-big);
    font-weight: 700;
    letter-spacing: 0.05em;
}

p.error{
    font-size: var( --text-small);
    font-weight: 500;
    letter-spacing: 0.05em;
    color: var( --error);
}

p.success{
    font-size: var( --text-small);
    font-weight: 500;
    letter-spacing: 0.05em;
    color: var( --success);
}

a{
    font-size: var( --text-base);
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var( --info);
}

/****** Buttons ******/

button{
    font-family: "Tutti-Rota", sans-serif;
}

button:focus-visible{
    outline: none;
}

/* Max priority */
button.maxPriority{
    background: url("/assets/images/SquareGradient.png") no-repeat 80% 70%;
    font-size: var( --text-larger)  ;
    font-weight: 1000;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    padding: 0.85em 2em 0.65em 2em;
    color: var(--tutti-white);
    text-align: center;
}

button.maxPriority:hover{
    border: 6px solid rgba(1,1,1,0.5);
    margin: -6px;
    opacity: 85%;
}

button.maxPriority:active{
    opacity: 50%;
}

button.maxPriority.disabled{
    opacity: 30%;
    filter: saturate(0);
}

button.maxPriority.disabled{
    opacity: 50%;
    cursor: not-allowed;
}

button.maxPriority.disabled:hover{
    border: none;
    margin: 0;
}

button.maxPriority.disabled:active{
}

/* Standard Priority */

button.standardPriority{
    background: var( --tutti-white);
    font-size: var( --text-large)  ;
    font-weight: 1000;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    padding: 0.75em 1.7em 0.55em 1.7em;
    color: var(--tutti-black);
    text-align: center;
    height: 52px;
}

button.standardPriority:hover{
    border: 6px solid rgba(1,1,1,0.5);
    margin: -6px;
    opacity: 85%;
    height: calc(52px + 12px);
}

button.standardPriority:active{
    opacity: 50%;
}

button.standardPriority.disabled{
    opacity: 50%;
    cursor: not-allowed;
}

button.standardPriority.disabled:hover{
    border: none;
    margin: 0;
}

button.standardPriority.disabled:active{
}

/* Low priority */

button.lowPriority{
    background: transparent;
    font-size: var( --text-medium);
    font-weight: 700;
    letter-spacing: 0.07em;
    height: 36px;
    cursor: pointer;
    border: 2px solid var( --tutti-grey-4);
    border-radius: 100px;
    padding: 0.3em 1.43em 0.1em 1.43em;
    color: var(--tutti-grey-4);
    text-align: center;
}

button.lowPriority:hover{
    background: rgba(255,255,255,0.15);
}

button.lowPriority.disabled{
    opacity: 50%;
    cursor: not-allowed;
}

button.lowPriority.disabled:hover{
    background: transparent;
}

/* Min priority */

button.minPriority{
    background: none;
    font-size: var( --text-medium)  ;
    font-weight: 700;
    cursor: pointer;
    border: none;
    color: var(--tutti-white);
    letter-spacing: 0.03em;
}

button.minPriority:hover{
    text-decoration: underline;
}

button.minPriority:active{
    opacity: 50%;
}

button.minPriority.disabled{
    opacity: 50%;
    cursor: not-allowed;
}

button.minPriority.disabled:hover{
    text-decoration: none;
}

button.minPriority.disabled:active{
}


/****** Inputs *******/

input{
    caret-shape: bar;
    caret-color: var( --tutti-black);
    background: var( --tutti-white);
    border: none;
    border-radius: 7px;
    width: 100%;
    height: var(--icon-big);
    font-family: Rota, sans-serif;
    font-size: var( --text-base);
    font-weight: 600;
    letter-spacing: 0.02em;
    color: var( --tutti-black);
    padding: 0 var(--icon-small);
}

input:focus-visible{
    outline: none;
}

input:focus{
     border: 6px solid rgba(248,247,255,0.3);
     margin: -6px;
     border-radius: 13px;
     height: calc(var(--icon-big) + 12px);
     width: calc(100% + 12px);
     background-clip: padding-box;
     -webkit-background-clip: padding-box;
 }

input:disabled{
    opacity: 0.3;
    cursor: not-allowed;
}

input[type="search" i]::-webkit-search-cancel-button{
    -webkit-appearance: none;
    background: url("/assets/icons/close.svg");
    height: var(--icon-small);
    width: var(--icon-small);
    cursor: pointer;
}

input[type="password" i]{
    font-size: var(--text-larger);
}

::placeholder{
    color: var( --tutti-grey-4);
    font-weight: 500;
    font-size: var( --text-base);
    letter-spacing: 0.02em;
}

/* Checkbox */
input[type="checkbox" i]{
    border-radius: 4px;
    border: 2pt solid var(--tutti-white);
    height: var(--icon-regular);
    width: var(--icon-regular);
    appearance: none;
    cursor: pointer;
    margin: 0 var(--margin-small) 0 0;
    caret-color: transparent;
    background: transparent;
    font-family: Rota, sans-serif;
    letter-spacing: 0;
    color: var( --tutti-black);
    padding: 0;
}

input[type="checkbox" i]:hover{
    background: rgba(248,247,255, 0.3);
    transition: 20ms;
}

input[type="checkbox" i]:focus{
    margin: 0 var(--margin-small) 0 0;
}

input[type="checkbox" i]:checked{
    background: url("/assets/icons/check.svg") no-repeat center var( --tutti-white);
    background-size: 14px;
    transition: 20ms;
}

input[type="checkbox" i]:disabled{
    opacity: 0.3;
    cursor: not-allowed;
}

input[type="checkbox" i]:disabled:hover{
    background: none;
}


/* Radio */
input[type="radio" i]{
    border-radius: 100%;
    appearance: none;
    cursor: pointer;
    border: 3px solid var(--tutti-white);
    height: var(--icon-regular);
    width: var(--icon-regular);
    margin: 0 var(--margin-small) 0 0;
    caret-color: transparent;
    background: transparent;
    font-family: Rota, sans-serif;
    letter-spacing: 0;
    color: var( --tutti-black);
    padding: 0;
}

input[type="radio" i]:hover{
    background: rgba(248,247,255, 0.3);
    transition: 20ms;
}

input[type="radio" i]:focus{
    margin: 0 var(--margin-small) 0 0;
}

input[type="radio" i]:checked{
    background: url("/assets/icons/radioFill.svg") no-repeat center var( --tutti-white);
    background-size: 4px;
    transition: 20ms;
}

input[type="radio" i]:disabled{
    opacity: 0.3;
    cursor: not-allowed;
}

input[type="radio" i]:disabled:hover{
    background: none;
}

/* Select */
select{
    background: url("/assets/icons/DownArrow.svg") no-repeat right var( --tutti-white);
    background-size: 1.5em;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 7px;
    height: var(--icon-big);
    width: 100%;
    font-family: Rota, sans-serif;
    font-size: var( --text-base);
    font-weight: 600;
    letter-spacing: 0.02em;
    color: var( --tutti-black);
    padding: 0 var(--icon-small);
    line-height: 0.8em;
}

select:focus-visible{
    outline: none;
}

select:focus{
    border: 6px solid rgba(248,247,255,0.3);
    margin: -6px;
    border-radius: 13px;
    height: calc(var(--icon-big) + 12px);
    width: calc(100% + 12px);
    background-clip: padding-box;
}

select:disabled{
    opacity: 0.3;
    cursor: not-allowed;
}

/**** Range *****/
input[type="range" i]{
    padding: 0;
    border: 0;
    height: 10px;
    width: 100%;
    background-color: var(--tutti-grey-3);
    margin: var(--margin-regular) 0;
    cursor: pointer;
}

input[type="range" i]:focus{
    border: 0;
}

input[type="range" i]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--tutti-white);
    cursor: pointer;
}

input[type="range" i]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: var(--tutti-white);
    cursor: pointer;
}


/**** Lists ****/
ul{
    list-style-image: url("/assets/icons/Bullet.svg");
    align-items: center;
    padding-left: 11px;
}

li{
    font-weight: 200;
    font-size: var(--text-small);
    line-height: 128.5%;
    letter-spacing: 0.05em;
    padding-left: var(--margin-medium);
    margin-bottom: var(--margin-regular);
}

li.final{
    margin-bottom: 0;
}
/**** Backgrounds ******/
.access{
    background: url("/assets/images/backgrounds/Spaceship_1.svg") no-repeat var(--tutti-black);
    background-size: cover;
}

.reg2{
    background: url("/assets/images/backgrounds/background2.svg") no-repeat var(--tutti-black);
    background-size: cover;
}

/****** Footer ********/
footer{
    width: 100%;
    height: 316px;
    background-color: var(--tutti-grey-2);
}

/****** ScrollBar *******/
::-webkit-scrollbar {
    width: 10px;
    padding: 8px;
    background: rgba(12,12,12,0.2);
}

::-webkit-scrollbar-track {
    background: rgba(12,12,12,0.2);
}

::-webkit-scrollbar-thumb {
    background: rgba(138, 137, 140, 0.3);
    border-radius: 10px;
    border: 2px var(--tutti-grey-4);
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(138, 137, 140, 0.3);
}

::-webkit-scrollbar-corner{
    background: none;
}

.Vue-Toastification__toast.tutti-toast {
    font-family: "tutti-rota", sans-serif;
    letter-spacing: 0.05em;
    font-weight: 600;
}

.Vue-Toastification__toast--default.tutti-toast {
    background-color: var(--info);
    color: var(--tutti-white);
    border-radius: var(--margin-big);
}

.Vue-Toastification__toast--info.tutti-toast {
    background-color: var(--info);
    color: var(--tutti-white);
    border-radius: var(--margin-big);
}

.Vue-Toastification__toast--success.tutti-toast {
    background-color: var(--success);
    color: var(--tutti-white);
    border-radius: var(--margin-big);
}
.Vue-Toastification__toast--error.tutti-toast {
    background-color: var(--error);
    color: var(--tutti-white);
    border-radius: var(--margin-big);
}
.Vue-Toastification__toast--warning.tutti-toast {
    background-color: var(--warning);
    color: var(--tutti-white);
    border-radius: var(--margin-big);
}

.vdp-datepicker__calendar{
    position: absolute;
    z-index: 999;
    border-radius: 8px;
    width: 300px;
    font-family: Rota,sans-serif;
    font-weight: 500;
    color: var(--tutti-black);
    cursor: pointer;
}
